(VISITOR PAGE)
<h3>Favor by <%=  link_to favor.user.firstname, user_path(favor.user) %></h3>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= favor.title %></td>
    <td><%= favor.description %></td>
  </tr>
</table>

<%= link_to "Send a request for this favor", acceptances_path(acceptance: {favor_id: favor.id}), method: :post %>